/* Variables */
:root {
  --price: #fc7300;
  --accept: #5d9c59;
  --decline: #df2e38;
  --light: #eee;
  --grey: #888;
  --dark: #313154;
  --background: #e8dfca;
  --menu: #7149c6;
}

/* End of Variables */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  max-width: 540px;
  background: var(--background);
}
body header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100vw;
  /*logoHead*/
}
body header .headBlock {
  display: flex;
  justify-content: space-around;
  background: var(--background);
  height: 7rem;
  width: 100vw;
  z-index: 9999;
  /* End of logoHead*/
}
body header .headBlock .logoHead {
  display: flex;
  align-items: center;
  font-size: 4em;
  text-align: center;
  padding-left: 20px;
  margin-top: 0.2em;
  cursor: default;
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #ca4246;
  background-color: #ca4246;
  background: conic-gradient(#a7489b 16.666%, #476098 16.666%, #476098 33.333%, #8b9862 33.333%, #f18f43 50%, #f18f43 50%, #8b9862 66.666%, #476098 66.666%, #476098 83.333%, #a7489b 83.333%);
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: text-animation-rev 8s linear infinite;
  /* Animation shown when entering the page and after the hover animation. */
}
@keyframes text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}
body header .headBlock .logoHead .bookw {
  font-family: "Aguafina Script", cursive;
}
body header .headBlock .logoHead .rentw {
  font-family: "Mynerve", cursive;
}
body header .headBlock .bars {
  margin-top: 0.5em;
  font-size: 3em;
  color: var(--menu);
  margin: 2rem 2rem 2rem 2rem;
}
body header .navWrapper {
  transition: transform 0.5s;
  height: 0;
}
body header .navWrapper nav {
  min-width: 33;
  transform: translateY(-600px);
  background: var(--background);
  border: 2px solid #313154;
  opacity: 0.9;
}
body header .navWrapper nav .bookForms {
  width: 520px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
body header .navWrapper nav .bookForms .bookInput {
  margin-block: 0.2rem;
}
body header .navWrapper nav .bookForms .bookInput label {
  width: 100%;
  font-family: "Aguafina Script", cursive;
  margin-block: 0.5rem;
  font-size: 1.5em;
  border: 0;
  background: none;
  color: var(--grey);
}
body header .navWrapper nav .bookForms input {
  font-family: "Mynerve";
  font-size: 1.5em;
  text-align: left;
  margin-inline: 2rem;
}
body header .navWrapper nav .btnWrapper {
  margin-block: 1.5rem;
  display: flex;
  justify-content: center;
}
body header .navWrapper nav .btnWrapper .addBtn {
  width: 120px;
  background-color: var(--accept);
  color: var(--light);
  border: 0;
  border-radius: 5px;
  font-family: "Mynerve", bold;
  padding-block: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body header .navWrapper nav .btnWrapper .addBtn .fa-square-plus {
  font-size: 32px;
  color: var(--menu);
}
body main .bookList {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}
body main .bookList .card {
  margin: 1rem;
  border: 2px solid black;
  width: 220px;
  font-family: "Mynerve";
}
body main .bookList .card img {
  width: 140px;
  height: 190px;
}
body main .bookList .card .card-body {
  margin: 10px;
}
body main .bookList .card .card-body .bookHeader {
  margin-bottom: 10px;
}
body main .bookList .card li {
  list-style: none;
}
body main .bookList .card h5 {
  font-size: large;
}
body main .bookList .card .delete {
  margin-top: 10px;
  background: var(--decline);
  border: 0;
  color: var(--light);
  padding: 10px;
  border-radius: 5px;
}

/* HOVER*/
.bars:hover {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
  color: var(--dark) !important;
}

.addBtn {
  cursor: pointer;
}

/* JS STYLE*/
.translate {
  transform: translateY(600px);
}

.display {
  display: block !important;
}/*# sourceMappingURL=style.css.map */