/* Variables */
:root {
  --price: #fc7300;
  --accept: #5d9c59;
  --decline: #df2e38;
  --light: #eee;
  --grey: #888;
  --dark: #313154;
  --background: #e8dfca;
  --menu: #7149c6;
}
/* End of Variables */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: var(--background);
  header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    /*logoHead*/
    .headBlock {
      display: flex;
      justify-content: space-around;
      background: var(--background);
      height: 7rem;
      width: 100vw;
      z-index: 9999;

      .logoHead {
        display: flex;
        align-items: center;
        font-size: 4em;
        text-align: center;
        padding-left: 20px;
        margin-top: 0.2em;
        cursor: default;

        /* Create a conic gradient. */
        /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
        background: #ca4246;
        background-color: #ca4246;
        background: conic-gradient(
          #a7489b 16.666%,
          #476098 16.666%,
          #476098 33.333%,
          #8b9862 33.333%,
          #f18f43 50%,
          #f18f43 50%,
          #8b9862 66.666%,
          #476098 66.666%,
          #476098 83.333%,
          #a7489b 83.333%
        );

        /* Set thee background size and repeat properties. */
        background-size: 57%;
        background-repeat: repeat;

        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        /* Animate the text when loading the element. */
        /* This animates it on page load and when hovering out. */
        animation: text-animation-rev 8s linear infinite;

        /* Animation shown when entering the page and after the hover animation. */
        @keyframes text-animation-rev {
          0% {
            background-size: 300%;
            background-position: -9em 1em;
          }
          20% {
            background-size: 57%;
            background-position: 0 1em;
          }
          100% {
            background-size: 57%;
            background-position: 0 0;
          }
        }

        .bookw {
          font-family: "Aguafina Script", cursive;
        }

        .rentw {
          font-family: "Mynerve", cursive;
        }
      } /* End of logoHead*/

      .bars {
        margin-top: 0.5em;
        font-size: 3em;
        color: var(--menu);
        margin: 2rem 2rem 2rem 2rem;
      }
    }
// Mobile wrapper
    .navWrapper {
      transition: transform 0.5s;
      height: 0;

      nav {
        width: 100vw;
        min-width: 33px;
        transform: translateY(-600px);
        background: var(--background);
        display: flex;
        justify-content: center;
        opacity: 0.9;

        .bookForms {
          width: 240px;
          display: flex;
          flex-direction: column;

          .inp {
            width: inherit;
            margin-block: 0.2rem;
            font-size: 1.2em;
            text-align: center;

            label {
              width: 100%;
              font-family: "Aguafina Script", cursive;
              margin-block: 0.5rem;
              border: 0;
              background: none;
              color: var(--grey);
                }
              }
    
              input {
                font-family: "Mynerve";
                text-align: left;
                margin-inline: 2rem;
            }

            .alert {
              color: var(--decline);
              font-family: "Mynerve";
              text-align: center;
              margin-top: 1.5rem;
            }

            .btnWrapper {
              margin-block: 1.5rem;
              width: 100%;
              display: flex;
              justify-content: center;

              .addBtn {
                width: 120px;
                background-color: var(--accept);
                color: var(--light);
                border: 0;
                border-radius: 5px;
                font-family: "Mynerve", bold;
                padding-block: 5px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-around;
                
                .fa-square-plus {
                  font-size: 32px;
                  color: var(--menu);
                }
              }
            }
          }
        }
      }
    }

// MAIN

  main {
    width: 100%;
    // SEARCH WRAPPER
    .search-wrapper {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
    }
    // --------------
    // FILTER WRAPPER
    .filter-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-top: 1px solid var(--dark);
      border-bottom: 1px solid var(--dark);
      margin-bottom: 20px;
      padding-top: 10px;
      // HIDDEN INPUTS THEN MOBILE 
      .desktopMenu {
        width: 370px;
        flex-direction: column;
        margin-inline: 50px;
  
        .inp {
          width: inherit;
          margin-block: 0.2rem;
          font-size: 1.2em;
          text-align: center;
          display: flex;
          justify-content:space-between;
          align-items: center;
  
          label {
            width: 100%;
            font-family: "Aguafina Script", cursive;
            // margin-block: 0.1rem;
            // font-size: 1.5em;
            border: 0;
            background: none;
            color: var(--grey);
              }
            }
  
            input {
              font-family: "Mynerve";
              height: 1rem;
              // color: var(--dark);
              text-align: left;
              margin-inline: 2rem;
          }
  
          .alert {
            color: var(--decline);
            font-family: "Mynerve";
            text-align: center;
            margin-top: 1.5rem;
          }
  
          .btnWrapper {
            margin-block: 1.5rem;
            width: 100%;
            display: flex;
            justify-content: center;
  
            .addBtn {
              width: 120px;
              background-color: var(--accept);
              color: var(--light);
              border: 0;
              border-radius: 5px;
              font-family: "Mynerve", bold;
              padding-block: 5px;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: space-around;
              
              .fa-square-plus {
                font-size: 32px;
                color: var(--menu);
              }
            }
          }
      }
  
      .hiddenForms {
        display: none;
      }
      //END OF HIDDEN INPUTS THEN MOBILE

      // FILTERS
      .filters {
        font-family: 'Mynerve';
        text-align: center;
        .category {
          list-style: none;
          h2 {
            padding-block: 10px 15px;
          }
          li {
            cursor: pointer;
            margin-block: 10px;
            font-size: large;
            font-weight: 400;
          }
          .active {
            color: var(--accept);
            font-weight: 800;
          }
        }
      }
    }


    .main-wrapper {
      display: flex;

      .swipeMsg {
      text-align: center;
      margin-top: 5rem;
      font-size: 3em;
      font-family: "Aguafina Script", cursive;
      margin-inline-end: 2rem;

      .fa-arrow-down-long {
        font-size: 70px;
        margin-top: 1rem;
        z-index: 0;
      }
    }

    .bookList {
      width: 100vw;
       display: flex;
       flex-wrap: wrap;

      .card {
        margin: 1rem;
        border: 1px inset var(--dark);
        width: 240px;
        font-family: "Mynerve";
        img {
          width: 140px;
          height: 190px;
        }

        .card-body {
          height: 260px;
          margin: 20px;
          display: flex;
          justify-content: space-between;
          // align-items: flex-start;
          flex-direction: column;

          .bookHeader {
            margin-bottom: 10px;
            h3 {
              text-decoration: underline var(--dark);
            }
          }
        }

        li {
          list-style: none;
        }

        h5 {
          font-size: large;
          text-decoration: underline var(--price);
        }

        .delete {
          margin-top: 10px;
          background: var(--decline);
          border: 0;
          color: var(--light);
          padding: 10px;
          border-radius: 5px;
         }
        }
      }
    }
  }
}

/* HOVER*/

.bars:hover {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
  color: var(--dark) !important;
}

li:hover {
  cursor: pointer;
  color: var(--dark) !important;
}

.category:hover {
  cursor: default;
}

.addBtn {
  cursor: pointer;
}

/* JS STYLE*/
.translate {
  transform: translateY(600px);
}
.display {
  display: block !important;
}

// Media queries
@media screen and (min-width: 621px) {
.bars {
  display: none;
}
nav {
  display: none !important;
}
.hiddenForms {
  display: block !important;
}
.swipeMsg {
    display: none;
    width: 0;
  }
}

@media screen and (min-width: 768px) {

}